@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}


html, body {
    height: 100%;
    overflow: hidden;
    user-select: none;
}


.logo-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:  #101010;
}

.logo-container.active {
    animation: marquee-logo-container 1.5s;
    animation-fill-mode: forwards;
}

@keyframes marquee-logo-container{
    70% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.logo-svg {
    display: none;
}

.logo-svg.active {
    display: block;
    width: 300px;
    height: 180px;
    animation: marquee-logo-svg 1.5s;
    animation-fill-mode: forwards;
}

@keyframes marquee-logo-svg{
    30% {
        width: 250px;
        height: 150px;
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

.danger {
    display: none;
}

.danger.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.danger img {
    width: 150px;
    height: 90px;
}

.danger span {
    margin-top: 15px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;

    text-align: center;
}


.player-background {
    height: 100%;
    background-color: #101010;
}

.drop-zone {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:  rgba(0, 0, 0, 0.5);

    visibility: hidden;
}

.drop-zone.active {
    visibility: visible;
}

.drop-zone svg {
    width: 100px;
    height: 100px;
    opacity: 100%;
    fill: #9e9e9e;
}




